$font-family: 'PT Sans', sans-serif;
$font-weight: 400;
$background-color: #000;

$header__top-height: 44px;
$header__top-background-color: #000;

$header__bottom-height: 80px;
$header__bottom-background-color: #0F0F0F;

$project__font-family: 'Stick No Bills', sans-serif;
$project__font-weight: 700;

$intro__background-image: url('../images/intro-background-image.png');
